html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url("/background-two.svg");*/
    background-color: #230e29;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
